/* #imageSection{

} */
/* body{
    background-color: rgba(255, 176, 102, 0.39);
} */
#imageSection{

    display: inline-block;
    padding: 80px 100px 10px 100px;
    margin-top: 20px;
    border-radius: 1%;
    background-color: rgba(215, 140, 245, 0.562);
    position: absolute;
    right: 3%;
  
}
img{
    width: 200px;
    height: 200px;
}
h1{
    font-family: 'Ranchers', cursive;
    position: relative;
    top: 20px;
    left: 100px;    
    margin: 100px 0px 20px 50px ;
    font-size: 100px;
    color: rgba(90, 87, 69, 0.973);
}
#list {
position: relative;
left: 120px;
}
p{
    font-family: 'Josefin Sans', sans-serif;
}

#filltext{
    justify-content: first baseline;
    font-size: 20px;
    color: rgb(128, 70, 0);
    font-family: 'Josefin Sans', sans-serif;

    margin-left: 160px;
}
#gradient { 
   
    background-image: -webkit-linear-gradient(#fffd8ad3,
     #797480);
   
    height: 50%;
    width: 100%;
    padding-bottom: 18%;
}
#bus{
    position: absolute;
    bottom: 75%;
    left: 10%;
    opacity: 50%;
}
